@font-face {
  font-family: Poppins-Bold;
  src: url(../../../public/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: Poppins-Medium;
  src: url(../../../public/fonts/Poppins-Medium.ttf);
}


.quote-box {
  font-family: 'Poppins-Medium';
  width: 80%;
  margin: 0 auto;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  background: #ffffff;
  border-radius: 10px;
  padding: 1rem; 
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  min-height: 45rem; /* height of background page*/
}


.itemsContainer {
  font-size: 1rem;
  font-family: Poppins-Medium;
  position: relative;
  text-decoration: none;
  color: black; 
  text-align: center;
  background: #EAF5F8;
  padding: 3rem; /* Padding to text */
  height: auto;
  min-height:45rem; /* height of background page*/
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}


.tabs {
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
}

.tab {
  padding: 10px;
  cursor: pointer;
  color: #000;
  width: 50%;
  border-radius: 10px;
}

.tab.active {
  background-color: #C52D2A;
  color: #fff;
  width: 50%;
}

.quote-tab {
  margin-top: 1rem;
  font-size: 10px;
  color: #000; /* Add a color value here */
}

.quote-form {
  display: flex;
  flex-direction: column;
  
}

.form-group {
  display: flex;
  margin-bottom: 1rem;
  font-family: 'Poppins-Medium', sans-serif;
  margin-right: 1rem;
  width: 50%; /* Adjust this value as needed to control the width of the form group */
  justify-content: space-between; /* This will space out the label and input box */
  align-items: center; /* Vertically center align items in the flex container */
  margin-left: auto; /* Center the form group horizontally */
  margin-right: auto;
}
.form-group label {
  flex: 1;
  text-align: justify; 
  justify-content: center;
  margin-right: 10px;
  font-size: 16px;
}

.form-group select {
  background-color: white;
  border-radius: 5px;
}

.form-group select:focus {
  outline: none;
  border: 1px solid #C52D2A;
}

.form-group .input-box {
  width: 100px;
  flex: 2;
  padding: 5px;
  border: 1px solid #ccc;
}

.ply-change {
  display: flex;
  margin-bottom: 20px;
  font-family: 'Poppins-Medium', sans-serif;
  width: 50%; /* Adjust this value as needed to control the width of the form group */
  justify-content: space-between; /* This will space out the label and input box */
  align-self: center; /* Vertically center align items in the flex container */

}

.ply-change label {
  flex: 1;
  justify-content: center;
  font-size: 16px;
  
}

.ply-change p {
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin-right: 5rem;
}

.ply-change .input-box {
  display: flex;
  margin-left: 1rem;
  
}

.input-box {
  flex: 1;
  width: 300px;
  border: none;
  
}
.input-upload-box {
  border: none;
  flex: 2;
  margin-right: 6rem;
  
}

.input-box[type = "checkbox"] {
 border: none;
}

.input-box select {
  width: 80%;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  border: none;
}

.input-box input,
.input-box select {
  background-color: white;
  border-radius: 5px;
  border: none;
 
  padding: 5px;
  width: 100%;
}

.input-box select:focus {
  outline: none;
  
}

.form-group label, .input-box input, .input-box select {
  margin: 0;
}

.quote-form button {  /* submit button  */
  background-color: #C52D2A;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  width: 50%;
  align-self: center;
}

.product-details-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* This creates two columns of equal width */
  gap: 1rem; /* This sets the gap between the columns */
  margin-top: 1rem;
}

.product-details-tab,
.product-details-section {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  border: 1px solid #fa8072;
  
}

.product-details-section {
display: flex;
justify-content: center;
align-items: center;
}
.product-details-tab {
  background-color: white;
  color: #000;
  border-radius: 5px;
  padding: 20px;
}


.product-details-tab label {
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins-Bold';
  color: #C52D2A;
}

.product-details-tab p {
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  justify-content: left;
}

.pricing-section {
  padding: 5rem;

  border-radius: 8px;
  text-align: center;
}

.pricing-note {
  margin-bottom: 2rem;
  font-style: italic;
  font-size: 1rem;
}

.pricing-details {
  padding-top: 2rem;
  font-size: 1rem;
}

.pricing-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.book-now-btn {
  background-color: #C52D2A;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 2rem;
}

.logo-image {
  width: 25rem;
  height: 25rem;
}

